@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inp {
    @apply w-full px-3 py-2 border border-slate-300 rounded outline-none focus:border-blue-500;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}
